<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Movies</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" /> <!-- import ikonit -->


    <style>
        body {
            background-color: #343a40; /* Dark background color */
            color: #ffffff; /* Light text color */
        }

        .container {
            background-color: #ffffff; /* Light background color for the container */
            color: #343a40; /* Dark text color for the container */
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }
        .intro-section {
            margin-bottom: 30px;
            text-align: center;
        }

        .intro-message {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        
    </style>
</head>
<body>
    <div class="container">
        
        <div class="intro-section">
            
            <p class="intro-message">Explore our collection of movies and feel free to add new ones or rate existing ones.</p>
            <p class="intro-message">Dive into the world of cinema and share your thoughts with us.</p>
            <p class="intro-message">Lights, camera, action! <i class="fas fa-video"></i></p> <!-- Video ikonii -->
        </div>

        <h3>Welcome <span sec:authentication="name"></span></h3>
        <h1>List of Movies</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
        </form>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Movie ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Publication Year</th>
                    <th scope="col">Director</th>
                    <!-- <th scope="col">Rating</th>, haluunko näkyvän ? -->
                    <th scope="col">Category</th>
                    <th scope="col">Average Rating</th>
                    <th scope="col">Number of Reviews</th>
                    
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.movieId}">Movie ID</td>
                    <td th:text="${movie.name}">Name</td>
                    <td th:text="${movie.publicationYear}">Publication Year</td>
                    <td th:text="${movie.director}">Director</td>
                
                    <td> 
                        <span th:if="${movie.category != null}" th:text="${movie.category.name}">Category</span>
                        <span th:if="${movie.category == null}" th:text="None">Category</span>
                    </td>
                    <td th:text="${movie.averageRating}">No rating</td>
                    <td th:text="${#lists.size(movie.ratings)} + ' reviews'">No reviews</td> <!-- näyttää monta arvostelua.size -->
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/deletemovie/{id}(id=${movie.movieId})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/editmovie/{id}(id=${movie.movieId})}" class="btn btn-success">Edit</a>
                        
                    </td>
                    <td>
                        <a th:href="@{'/rate_movie/' + ${movie.movieId}}" class="btn btn-warning">
                            <i class="fas fa-star"></i> Rate  <!-- star button -->
                        </a>
                    </td>

                    <td>
                        <a th:href="@{'/read_reviews/' + ${movie.movieId}}" class="btn btn-info">
                            Read Reviews
                        </a>
                    </td>
                    


                </tr>
            </tbody>
        </table>
        <a th:href="@{/addmovie}" class="btn btn-success">Add a new movie</a>
        <p></p>
        <p><a th:href="@{/categorylist}" class="btn btn-success">See all categories</a></p>
    </div>
</body>
</html>
